<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpringJobs</title>
    <link rel="shortcut icon" href="#">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/basic.js"></script>
</head>
<body>
<button id="sign-up-btn" onclick="location.href='/signup-page'">
    회원 가입하기
</button>
<button id="sign-in-btn" onclick="location.href='/login-page'">
    로그인하기
</button>
<button id="mypage">
    <span id="nickname"></span>님의 마이 페이지
</button>
<button id="logout-btn" onclick="logout()">
    로그아웃
</button>
</body>
</html>