<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이 페이지</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/basic.js"></script>
</head>
<script>
    // 화면 시작하자마자
    $(document).ready(function () {
        authorizationCheck();
    })

    function authorizationCheck() {
        const auth = getToken();

        if (auth !== undefined && auth !== '') {
            // 회원
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader('Authorization', auth);
            });

            //로그인한 회원 정보
            $.ajax({
                type: 'GET',
                url: `/api/users`,
                contentType: 'application/json',
            })
                .done(function (res, status, xhr) {
                    $('#nickname').text(res['nickname']);
                })
                .fail(function (jqXHR, textStatus) {
                    logout();
                });
        }


    }

    function logout() {
        $.ajax({
            type: 'GET',
            url: `/api/users/logout`,
            contentType: 'application/json',
            success: function (response) {
                Cookies.remove('Authorization', {path: '/'});
                window.location.reload();
            },
            error(error, status, request) {
                console.log(error['responseJSON']['message']);
            }
        })


    }

    function getToken() {
        let auth = Cookies.get('Authorization');

        if (auth === undefined) {
            return '';
        }

        return auth;
    }
</script>
<body>
<H1><SPAN ID="nickname"></SPAN>님의 마이 페이지 입니다</H1>
</body>
</html>